@model HobbiesFinalProject.Models.VideoGame

@{
    ViewData["Title"] = Model.Title;
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>VideoGame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.System)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.System)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
