@model HobbiesFinalProject.Models.VideoGame

@{
    ViewData["Title"] = Model.Title;
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Video Game</h4>
    <hr />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.Title)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Publisher)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.System)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.System)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
