@model IEnumerable<HobbiesFinalProject.Models.VideoGame>

@{
    ViewData["Title"] = "Video Games";
}

<h1>Video Games</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.System)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.System)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
