@model HobbiesFinalProject.Models.TeamMember

@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Team Member</h4>
    <hr />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.LastName)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.City)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.State)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.State)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.About)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.About)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                       Favorite Video Game
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.VideoGames.Title)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
